body {
    padding-top: 50px; /* body padding for fixed top nav */
}

h1, h2, p, #main {
    font-family: "Helvetica Neue", Helvetica, Arial,"Microsoft Yahei";
}

h1 {
    display: inline-block;
    margin-right: 10px;
}

h2 {
    color: #593500;
}

.navbar, footer {
    background-color: #ff9900;
    border-color: #cc6600;
}
.navbar a, footer{
    color: #fff;
}
.navbar .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-toggle {
    border-color: #ffc670;
}
.navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #cc6600;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #ffaa22;
}

#donate {
    background: #ffe6c0;
}

#contact_and_links {
    background: #ffc670;
}

#contact img {
    width: 100px;
    height: 100px;
    margin: 6px;
    transition: all 0.3s ease-in-out;
}
#contact img:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -mozilla-transform: rotateY(360deg);
}

#links img {
    width: 88px;
    height: 31px;
}

#download {
    text-align: center;
    margin-top: 40px;
}

#download_desktop > .btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 0;
    margin-bottom: 20px;
}

#download_links a {
    padding: 0 5px;
    color: #996600
}

#about a {
    color: white;
}


.subtitle {
    margin:10px 0 0 0;
    text-align:right;
    font-weight: normal;
    font-size:15px;
    color:#663300;
}

#donate p {
    font-size: 15px;
    line-height: 30px;
    margin-top:10px;
    color: #663300;
    display: block;
}
#humans {
    background-color: #ffd698;
}
/*#humans .row {text-align: center;}
#humans .row img{padding: 4px;border: 1px solid #DDDDDD;}
#humans .row p{padding-top: 18px;}
#humans .row .customAuthor{margin-bottom:4px;}
#humans .row .customProfession{padding-top: 0px;color: #A8A8A8;font-size: 20px;}*/

#donate {
    padding-bottom: 10px;
}

#main {
    padding-top: 20px;
}
#screenshot{
    margin-top: 20px;
}

#about {
    padding: 5px 0;
}


/* 桌面端加大间距 */
@media (min-width: 992px) {
    #contact_and_links, #donate {
        padding-top: 18px;
        padding-bottom: 20px;
    }
    #contact_and_links .row {
        margin-top: 30px;
    }
    #donate .row {
        margin-top: 20px;
    }

    h1 {
        margin-top: 50px;
    }
    h1, h2 {
        font-weight: bold;
    }

    #about {
        font-size: 12px;
        line-height: 20px;
        padding: 25px 0;
    }
    #about p {
        margin-bottom: 0px;
    }
}

#contact, #donate_text, #donate_button, #links_wrapper {
    padding-right: 15px;
    padding-left: 15px;
}

#donate_text {
    padding-left: 20px;
}

#links_wrapper {
    margin-left: 10px;
}
#links > li {
    padding: 5px 15px 0 0;
}

@media (min-width: 1200px) {
    h1 {
        margin-top: 90px;
    }
}

@media (max-width: 991px) {
    #download_wrapper {
        max-width: 400px;
    }
}

@media(min-width: 768px) {
    #contact {
        float: left;
    }
    #links_wrapper {
        margin-left: 380px;
    }
    #donate_text {
        padding-right: 200px;
        float: left
    }
    #donate_button {
        margin-left: -200px;
        float: right;
    }
}