/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: -apple-system, Arial, 'Source Sans Pro', "Microsoft YaHei", 'Microsoft JhengHei', "WenQuanYi Micro Hei", sans-serif;
  font-size: 15px;
}

.bg-faded {
  background: linear-gradient( to bottom, #f7f7f7, #eee );
}

.jumbotron {
  background: linear-gradient( to bottom, #f7f7f7, #eee );
  border-radius:unset;
  margin-bottom:unset;
}
