/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: -apple-system, Arial, 'Source Sans Pro', "Microsoft YaHei", 'Microsoft JhengHei', "WenQuanYi Micro Hei", sans-serif;
  padding-top: 2rem;
  font-size: 15px;
}
