<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="https://mycard.moe/logo_60.png" width="40" height="40" class="d-inline-block align-center" alt=""> MyCard
    </a>
    <!--<a class="navbar-brand" href="#"></a>-->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ygobbs.com/" target="_blank">社区</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5" id="title">
        <h1 class="display-3">萌卡<sup class="titileBeta">BETA</sup></h1>
        <p>MyCard 同人游戏平台</p>
        <p>
          <a class="btn btn-primary btn-lg" href="https://wudizhanche.mycard.moe/download?platform=win32" role="button">立即安装</a>
        </p>
        <p>
          萌卡平台支持 <a href="https://wudizhanche.mycard.moe/download?platform=win32">Windows</a> 与
          <a href="https://wudizhanche.mycard.moe/download?platform=darwin">Mac</a> 操作系统。</p>
      </div>
      <div class="col">
        <img id="pic" src="MyCardProduct.png">
      </div>
    </div>
  </div>
</div>
<div id="main-wrapper">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row" id="main">

      <div class="col-md-6">
        <h2>新世界的入口</h2>
        <p>或许您曾听说过一些来自同人世界的传说...<br> ~曾有过有无所不能的神奇网上社区，<br> ~存在过无数创造者共同创造的神奇游戏，<br> ~曾有所有人融洽相处的幻想乡...<br>
        </p>
        <p>
          Dalao们所说的那个新世界，<br> 萌新却怎么也不知道在哪里！<br>
        </p>不过这一次，你也许找对地方了！
        <p>
          安装萌卡平台就是您需要做的第一步！<br>
        </p>
        <p>萌卡平台希望能为萌新打开同人创作新世界的大门！</p>
        <p><a class="btn btn-secondary" href="#" role="button">安装萌卡ACG平台 &raquo;</a></p>
      </div>

      <div class="col-md-6">
        <h2>为了爱而存在的萌卡</h2>
        <p>
          如果有过同人创作的经历，<br> 你应该会深深地了解到,<br> 爱的一面是孤独的，忧伤的，边缘化的。<br>
        </p>
        <p>
          但只要你还相信爱，<br> 它就必将创造出爱与忧伤的结晶，给生命赋予意义。<br>
        </p>
        <p>
          萌卡的创造者们，就是抛弃了顾虑，为了爱而努力的人。<br> 因为有大家在，萌卡才会存在。<br> 也正是萌卡存在的意义。<br>
        </p>
        <p>萌卡平台希望能为有爱的人提供可能！</p>
        <p><a class="btn btn-secondary" href="#" role="button">欢迎勾搭合作 &raquo;</a></p>
      </div>

      <div class="col-md-6" id="community">
        <h2>孤独者的家园</h2>
        <p>
          世界与我是那么格格不入，<br> 我们总在搜索与我们相似的人，<br> ——同道之人，同好之人，同命之人。<br>
        </p>
        <p>
          在这个一切都被沦为工具的时代，<br> 呼吸似乎都变得困难。<br>
        </p>
        <p>
          孤独的我们，<br> 在无尽的大海中相互取暖，<br> 多么的希望有这么一个共同的家园啊！<br>
        </p>
        <p id="signups-wrapper"><span id="signups" class="stats">{{signups}}</span> 只萌新已加入萌卡</p>
        <p><span id="online" class="stats">{{online}}</span> 位爱的战士正在线游戏</p>
        <p><a class="btn btn-secondary" href="#" role="button">加入萌卡社区 &raquo;</a></p>
      </div>

      <div class="col-md-6">
        <h2>黑科技创造新希望</h2>
        <p>
          萌卡从诞生起就考虑到了为同人服务的复杂性与个性化需求，<br> 于是萌卡为满足各种奇奇怪怪需求而开发了许多的黑科技！<br> 这些点点滴滴的积累，或许就能够带动同人产业革新哦！<br>
        </p>
        <p class="features">已实装黑科技功能</p>
        <ul>
          <li>能在Mac上玩东方系列及其他 Windows 游戏。</li>
          <li>在 PC 平台上玩部分非 PC 平台的游戏。</li>
          <li>为“FXTZ”等联机方式的游戏，解决联机的问题，实现流畅联机。</li>
          <li>自动保持游戏更新。同时支持第三方补丁（如汉化补丁）的更新。</li>
          <li>为游戏发布者定制自定义功能（参考 YGOPro）。</li>
          <li>为游戏提供在线存档保存功能（云存档）。</li>
          <li>一键安装游戏，自动解决各种依赖问题。</li>
        </ul>
        <p><a class="btn btn-secondary" href="#" role="button">其他功能目标 &raquo;</a></p>
      </div>
    </div>
  </div>
</div>
<div id="requirements-wrapper">
  <div class="container">
    <div class="row">
      <div id="setup" class="col">
        <p>欢迎加入萌卡这个大家庭</p>
        <a class="btn btn-primary btn-lg" href="https://wudizhanche.mycard.moe/download?platform=win32" role="button">立即安装</a>
      </div>
      <div id="requirements" class="col">
        <p>
          系统需求<br> Windows 7、8 或 10<br> 512M 内存<br> 1 Ghz 或更快的处理器 </p>
        <p>
          Mac OS X 版本 10.12 (Sierra) 或更新的版本。<br> 强烈推荐使用双键鼠标 </p>

        <p>
          1GB 硬盘空间<br> 互联网连接 </p>
      </div>
    </div>
  </div>
</div>
<div id="footer-wrapper">
  <div class="container">
    <footer>
      <div id="footer">
        <p>&copy; MyCard 2017 all right reserved.</p>
      </div>
    </footer>
  </div>
</div>

