<app-title title="萌卡" i18n-title="@@MyCard"></app-title>

<nz-layout class="layout">
  <nz-header>
    <div class="App-Logo">
      <img alt="img" src="assets/logo.png" style=" width: 140px; margin: 10px">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" style="line-height: 64px;">
      <li nz-menu-item [nzSelected]="true" i18n="@@Home"><a href="#">首页</a></li>
      <li nz-menu-item i18n="@@BBS"><a href="https://ygobbs.com">社区</a></li>
      <li nz-menu-item i18n="@@DataBase"><a href="https://mycard.moe/ygopro/arena/">数据库</a></li>
      <li nz-menu-item i18n="@@Account"><a href="https://accounts.moecube.com/">用户中心</a></li>
      <!--<li nz-menu-item i18n="@@navRegister" style="float: right">注册 | 登录</li>-->
    </ul>
  </nz-header>
  <nz-content class="App-Content1">
    <div nz-row nz-type="flex" nz-justify="space-around" nz-align="middle">
      <div nz-col nzSpan="24" style="display: flex; flex-direction: column; align-items: center">
        <img alt="img" src="assets/cubbit-full-512.png" class="App-Poster">
        <div class="App-Poster-Content">
          <div class="title">
            <span i18n="@@MyCardeDoujinGamePlatform">萌卡同人游戏平台</span>
            <span class="sub">Beta</span>
          </div>
          <div style="text-align:center">
            <div class="font-C-Gray">
              <span i18n="@@SupportBoth">MyCard同时支持</span>
              <a [href]="(latest_win32 | async) || '#'">windows</a>
              <span i18n="@@And">和</span>
              <a [href]="(latest_drawin | async) || '#'">macOS</a>
              <span i18n="@@OperationSystem">操作系统</span>
            </div>

            <a nz-button nzType="primary" [nzLoading]="!(latest_current | async)" [href]="latest_current | async">
              <i class="anticon anticon-download"></i>
              <span i18n="@@Download">立即安装</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-content>
    <div class="App-CardList">
      <div nz-row nzType="flex" nzAlign="normal">
        <div nz-col nzSpan="12">
          <nz-card nzTitle="新世界的入口" i18n-nzTitle="@@CardTitle1">
            <p class="App-Card-content" i18n="@@CardContent1">或许您曾听说过一些来自同人世界的传说
              曾有过有无所不能的神奇网上社区，
              存在过无数创造者共同创造的神奇游戏，
              曾有所有人融洽相处的幻想乡...Dalao们所说的那个新世界，
              萌新却怎么也不知道在哪里！
              不过这一次，你也许找对地方了！
              安装“萌卡”就是您需要做的第一步！
              萌卡希望能为萌新打开同人创作新世界的大门!</p>
            <a nz-button nzType="primary" [nzLoading]="!(latest_current | async)" [href]="latest_current | async">
              <i class="anticon anticon-download"></i>
              <span i18n="@@CardAction1">安装MyCard平台</span>
            </a>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card nzTitle="为了爱而存在的萌卡" i18n-nzTitle="@@CardTitle2">
            <p class="App-Card-content" i18n="@@CardContent2">如果有过同人创作的经历，
              你应该会深深地了解到,
              爱的一面是孤独的，忧伤的，边缘化的。
              但只要你还相信爱，
              它就必将创造出爱与忧伤的结晶，给生命赋予意义。
              萌卡的创造者们，就是抛弃了顾虑，为了爱而努力的人。
              因为有大家在，萌卡才会存在。
              也正是萌卡存在的意义。
              萌卡平台希望能为有爱的人提供可能！</p>
            <a nz-button nzType="primary" href="mailto:zh99998@gmail.com"><i class="anticon anticon-plus-square-o"></i><span i18n="@@CardAction2">欢迎勾搭合作</span></a>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card nzTitle="黑科技创造新希望" i18n-nzTitle="@@CardTitle3">
            <p class="App-Card-content" i18n="@@CardContent3">萌卡从诞生起就考虑到了为同人服务的复杂性与个性化需求，
              于是萌卡为满足各种奇奇怪怪需求而开发了许多的黑科技！
              这些点点滴滴的积累，或许就能够带动同人产业革新哦！

              已实装黑科技功能:</p>
            <nz-timeline>
              <nz-timeline-item i18n="@@CardTimeLine4-1">能在Mac上玩东方系列及其他 Windows 游戏。</nz-timeline-item>
              <nz-timeline-item i18n="@@CardTimeLine4-2">在 PC 平台上玩部分非 PC 平台的游戏。</nz-timeline-item>
              <nz-timeline-item i18n="@@CardTimeLine4-3">为“FXTZ”等联机方式的游戏，解决联机的问题，实现流畅联机。</nz-timeline-item>
              <nz-timeline-item i18n="@@CardTimeLine4-4">自动保持游戏更新。同时支持第三方补丁（如汉化补丁）的更新。</nz-timeline-item>
              <nz-timeline-item i18n="@@CardTimeLine4-5">为游戏发布者定制自定义功能（参考 YGOPro）。</nz-timeline-item>
              <nz-timeline-item i18n="@@CardTimeLine4-6">为游戏提供在线存档保存功能（云存档）。</nz-timeline-item>
              <nz-timeline-item i18n="@@CardTimeLine4-7">一键安装游戏，自动解决各种依赖问题。</nz-timeline-item>
              <nz-timeline-item><a href="#" i18n="@@WillHaveFunctions">其他功能目标</a></nz-timeline-item>
            </nz-timeline>
            <a nz-button nzType="primary" href="mailto:zh99998@gmail.com"><i class="anticon anticon-heart"></i><span i18n="@@CardAction3">向萌立方建议新功能</span></a>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card nzTitle="孤独者的家园" i18n-nzTitle="@@CardTitle4">
            <p class="App-Card-content" i18n="@@CardContent4">世界与我是那么格格不入，
              我们总在搜索与我们相似的人，
              ——同道之人，同好之人，同命之人。
              在这个一切都被沦为工具的时代，
              呼吸似乎都变得困难。
              孤独的我们，
              在无尽的大海中相互取暖，
              多么的希望有一个共同的家园啊！</p>
            <nz-timeline>
              <nz-timeline-item i18n="@@IsRegisted" *ngIf="stats_signups | async">{{stats_signups | async}} 位萌新已加入萌卡</nz-timeline-item>
              <nz-timeline-item i18n="@@IsPlaying" *ngIf="stats_online | async">{{stats_online | async}} 位爱的战士正在线进行游戏</nz-timeline-item>
            </nz-timeline>
            <div class="MoeCubeProduct">
              <img alt="MoeCubeProduct" src="assets/moecube-product.png" style="width: 100%"/>
            </div>
            <a nz-button nzType="primary" href="https://ygobbs.com"><i class="anticon anticon-star"></i><span i18n="@@CardAction4">加入萌立方社区</span></a>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-content>
  <h2 i18n="@@apps">代表作品</h2>
  <div nz-row id="apps">
    <div nz-col nzSpan="6">
      <img alt="ygopro" src="assets/ygopro_1.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="OZ大乱斗NS" src="assets/ozns_1.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="Eddy紫" src="assets/eddyviolet_1.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="东方龙隐谈" src="assets/df02_1.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="ygopro" src="assets/ygopro_2.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="OZ大乱斗NS" src="assets/ozns_2.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="Eddy紫" src="assets/eddyviolet_2.jpg">
    </div>
    <div nz-col nzSpan="6">
      <img alt="东方龙隐谈" src="assets/df02_2.jpg">
    </div>
  </div>
  <nz-content class="App-Content2">
    <div nz-col nzSpan="14">
      <p id="Welcome" class="preline" i18n="@@Welcome">还等什么呢？
        马上开始萌卡的二次元冒险！</p>
        <a nz-button id="downloadbot" nzType="primary" nzSize='large' [nzLoading]="!(latest_current | async)" [href]="latest_current | async">
          <i class="anticon anticon-download"></i>
          <span i18n="@@Download">立即安装</span>
        </a>
      <p class="preline">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当
        适度游戏益脑 过度游戏伤身 合理安排时间 享受健康生活</p>
      </div>
      <div nz-col nzSpan="10">
      <p class="preline" i18n="@@SystemRequirements">系统需求
        Windows Vista、7 或更新的版本
        512 MB 内存
        1 Ghz 或更快的处理器

        Intel Mac、OS X 版本 10.11 (El Capitan) 或更新的版本。

        1GB 硬盘空间（推荐）
        互联网连接（推荐使用宽带）</p>
      </div>
  </nz-content>
  <nz-footer>
    <nz-dropdown>
      <a nz-dropdown [ngSwitch]="locale" class="ant-dropdown-link changelanguage">
        <ng-container *ngSwitchCase="'zh-CN'">
          <img alt="img" src="assets/flag-cn.png"> 中文
        </ng-container>
        <ng-container *ngSwitchCase="'en-US'">
          <img alt="img" src="assets/flag-us.png"> English
        </ng-container>
        <i class="anticon anticon-down"></i>
      </a>
      <ul nz-menu nzSelectable>
        <li nz-menu-item class="changelanguage" (click)="setLocale('en-US')">
          <img alt="img" src="assets/flag-us.png" /> English
        </li>
        <li nz-menu-item class="changelanguage" (click)="setLocale('zh-CN')">
          <img alt="img" src="assets/flag-cn.png" /> 中文
        </li>
      </ul>
    </nz-dropdown>
    © MyCard 2018 all rights reserved.
  </nz-footer>
</nz-layout>
