/*

*/
/* line 14, ../../app/assets/stylesheets/mycard.css.scss */
* {
    margin: 0;
    padding: 0;
}


body {
    background: #244470 url(../images/index/background.png);
    font-family: "\5FAE\8F6F\96C5\9ED1";
}


a {
    text-shadow: 1px 1px 1px #0C2549;
    text-decoration: none;
}


#nav a {
    transition: all .3s ease-in-out;
    text-decoration: none;
}


#nav a:link {
    color: white;
}


#nav a:hover {
    color: white;
}


#nav a:visited {
    color: white;
}


#nav {
    width: 900px;
    height: 50px;
    background: #244470;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #5B82B7;
    border-radius: 0 0 5px 5px;
    color: white;
    margin: 0 auto;
    font: small-caps 12px "\5FAE\8F6F\96C5\9ED1";
    text-shadow: 1px 1px 2px #0C2549;
    background: #3966ae;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3966ae), to(#263c7b));
    background: -webkit-linear-gradient(#3966ae, #263c7b);
    background: -moz-linear-gradient(#3966ae, #263c7b);
    background: -ms-linear-gradient(#3966ae, #263c7b);
    background: -o-linear-gradient(#3966ae, #263c7b);
    background: linear-gradient(#3966ae, #263c7b);
}


.nav_logo {
    width: 120px;
    height: 30px;
    margin: 0 0 0 5px;
    padding: 10px 0 10px 5px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    display: block;
    font: 25px bold 'Nunito',sans-serif;
    float: left;
    font-size: 24px;
}


.nav_link {
    min-width: 60px;
    height: 30px;
    padding: 10px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    display: block;
    font: 15px/30px "\5FAE\8F6F\96C5\9ED1";
    float: left;
    text-align: center;
}


#main {
    width: 99.99%;
    height: 310px;
    margin: 60px 0 0 0;
    background: rgba(243, 243, 243, 0.6);
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #e1e1e1;
}


#main_sub {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    height: 280px;
}


#information {
    width: 390px;
    float: left;
}


.title {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Nunito',sans-serif;
}


.subtitle {
    font: 30px "\5FAE\8F6F\96C5\9ED1";
}


.subinc {
    font-size: 15px;
    color: #525252;
    text-shadow: 1px 1px 1px #f1f1f1;
    margin: 0 0 0 100px;
}


#buttons{
    margin:0;
    padding:0;
    height: 60px;
    width:400px;
}
#download {
    width: 200px;
    height: 60px;
    
    
    margin: 50px auto 0 50px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    background: #5B5399;
    background-image: linear-gradient(bottom,#5B5399 0%,#7B72CF 100%);
    background-image: -o-linear-gradient(bottom,#5B5399 0%,#7B72CF 100%);
    background-image: -moz-linear-gradient(bottom,#5B5399 0%,#7B72CF 100%);
    background-image: -webkit-linear-gradient(bottom,#5B5399 0%,#7B72CF 100%);
    background-image: -ms-linear-gradient(bottom,#5B5399 0%,#7B72CF 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#5B5399),color-stop(1,#7B72CF));
    float:left;
}
#download_url:hover{
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.8);
}

.download_active {
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    font-size: 25px;
    text-align: center;
    margin: 5px 0 0 0;
    display: block;
}
#download_sublist{
    width:48px;
    padding:55px 0 0 15px;
    float:left;
    font-size:12px;
}
#download_sublist a{
    color:#134468;
    text-shadow:2px 2px #CFCFCF;
    border-bottom:dashed #CFCFCF 1px;
}
#download_sublist a:hover{
    color:#072847;
}

.download_information {
    color: #f1f1f1;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
    font-size: 12px;
    display: block;
    text-align: center;
}


#slider {
    clear: both;
    width: 500px;
    padding: 0;
    margin: 0 auto;
    margin-top:6px;
    z-index: 0;
    clear: both;
    display: block;
    float: right;
    top: -212px;
    *top: 0;
}


.show1 {
    width: 500px;
    height: 275px;
    background: url(../images/index/01.png);
    border-radius: 10px;
}


.show2 {
    width: 500px;
    height: 275px;
    background: url(../images/index/02.png);
    border-radius: 10px;
}


.show3 {
    width: 500px;
    height: 275px;
    background: url(../images/index/03.png);
    border-radius: 10px;
}


footer {
    width: 900px;
    margin: 0 auto;
}


footer h2 {
    font: bold 15px/130% "\5FAE\8F6F\96C5\9ED1";
    color: #2e2e2e;
    text-shadow: 1px 1px 1px #dedede;
}


#footer1 {
    height: 200px;
    width: 300px;
    border-right: 1px #bfbfbf dashed;
    margin-top: 10px;
    float: left;
}


#footer1 a {
    font: 12px/130% "\5FAE\8F6F\96C5\9ED1";
    color: #2a2a2a;
    text-shadow: 1px 1px 1px #dedede;
}


#footer2 {
    height: 200px;
    width: 300px;
    border-right: 1px #bfbfbf dashed;
    margin-top: 10px;
    float: left;
}


#footer3 {
    width: 280px;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}


#footer3 a {
    font: 12px/130% "\5FAE\8F6F\96C5\9ED1";
    color: #2a2a2a;
    text-shadow: 1px 1px 1px #dedede;
}



#menu sup {position: absolute; top: 5px;}

#links img {width: 88px; height: 31px; border:0;}
#links a {margin: 5px 3px 3px 5px;}