body {
  background: #fbfbfb;
}

/*顶部*/
.card_top {
  margin: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0px 1px 5px #dddddd;
  background: #ffffff;
}

.card_logo {
  width: 216px;
  height: 69px;
  padding: 0px 0 0 25px; /*float:left;*/
  img {
    margin: 10px 0 0 0;
    border-right: 1px solid #dddddd;
    padding: 0 15px 0 0;
  }
}

.card_form {
/*float:left;*/
  height: 60px;
  margin: 0 0 0 10px;
  padding: 20px 0 0 0;
  select {
    color: #147CC3;
    padding: 4px 5px;
    width: 120px;
    font-size: 12px;
    margin: 8px 0 0 11px;
    float: left;
  }
  input[type=button] {
    background: #147CC3;
    border: none;
    border-radius: 5px;
    width: 90px;
    color: #ffffff;
    height: 24px;
    margin: 8px 0 0 25px;
    cursor: pointer;
  }
}

.log_reg {
/*float:right;*/
  font-size: 12px;
  padding: 34px 25px 0 0;
  a {
    color: #666666;
    text-decoration: none;
    &.logging_button {
      color: #147CC3;
    }
  }
  span {
    color: #cccccc;
  }
}

/*中央*/
/*.card_center {
  padding: 20px;
} */

#rooms {
/*float:left;*/
}

.online_list {
/*float:left;*/
  max-width: 210px;
  height: 100%;
  border: 1px solid #dddddd;
  padding: 0 0 10px 0;
  ul {
    background: #ffffff;
    overflow-y: hidden;
    position: relative;
    &:hover {
      overflow-y: scroll;
    }
    li {
      border-top: 1px solid #dddddd;
      padding: 8px 8px;
      height: 32px;
      &.online_botttom {
        background: url(../images/gradual_change.png) repeat-x;
        height: 10px;
        bottom: 0;
        position: fixed;
        width: 160px;
        padding: 0 8px;
        border: none;
      }
      img {
        height: 32px;
        width: 32px;
        float: left;
      }
      span {
        line-height: 32px;
        font-size: 12px;
        padding: 0 0 0 10px;
        float: left;
      }
      &:hover {
        background: #eeeeee;
      }

    }
  }
}

.online_title {
  height: 20px;
  background: #f9f9f9;
  width: 190px;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 10px;
  color: #147CC3;
}

/*zh*/

/*纵向*/
html, body {
  height: 100%;
}

.card_top{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card_center {
  padding-top: 80px;
  margin-top: -80px;
  height: 100%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  #rooms {
    height: 100%;
    overflow-y: auto;
  }
  .online_list {
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    #roster {
      height: 100%;
      &:hover {
        overflow-y: auto;
      }
    }
  }
}

/*横向*/
.card_top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  .card_form {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
  }
}

.card_center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  #rooms {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    .room {
      border: #cccccc 1px solid;
      &:hover {
        background: #eeeeee;
      }
      float: left;
      width: 150px;
      height: 100px;
      border-radius: 5px;
      margin: 5px;
      background-color: white;
    }
  }
}

/*登陆按钮*/
.logging_button {
  cursor: pointer
}

/*登陆窗*/

/*#login{
 #node {width:80px}
 .ui-combobox-input {width: 100px}
 .ui-combobox-toggle {width: auto}
} */
#login-form {
  #node {
    width: 60px;
  }
  label{
    width: 96px;
  }
  label[for=domain] {
    width: auto;
    clear: none;
    padding-right: 0px;
  }
  #domain {
    width: 74px;
  }
}

/*房间筛选*/
.server_filter label {
  font-size: 12px;
}
.ui-widget.server_filter {
  font-size: 100%;
  .ui-multiselect-checkboxes {
    overflow-y: visible
  }
}

/*建立房间*/
#new_room{
  #server_ip{width: 120px}
  #server_port{width: 60px}
}


