.no-select {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none;  /*webkit浏览器*/
    -ms-user-select: none;   /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.nav {
    background: #000000;
}

.nav > ul {
    background: #000000;
}

.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

}

.home-banner {
    min-height: 720px;
    min-width: 1300px;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-image: url("../../assets/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-affix {
    position: absolute;
    width: 100%;

    z-index: 2;
}

.download-button {
    position: relative;
    top: 70px;
    left:245px;

}

.m-title {
    display: inline;
}

.card-one {
    position: relative;
    display: inline;
    transform: rotate(-15deg);
    ms-transform: rotate(-15deg);
    moz-transform: rotate(-15deg);
    webkit-transform: rotate(-15deg);
    o-transform: rotate(-15deg);
    animation: card-one-move 4s infinite;
    -webkit-animation: card-one-move 4s infinite; /* Safari 与 Chrome */

}

.card-two {
    display: inline;
    position: relative;
    left: -140px;
    top: 20px;
    animation: card-two-move 4s infinite;
    -webkit-animation: card-two-move 4s infinite;
}

.card-three {
    display: inline;
    position: relative;
    left: -285px;
    top: 60px;
    transform: rotate(15deg);
    ms-transform: rotate(15deg);
    moz-transform: rotate(15deg);
    webkit-transform: rotate(15deg);
    o-transform: rotate(15deg);
    animation: card-three-move 4s infinite;
    -webkit-animation: card-three-move 4s infinite;
}

@keyframes card-one-move {
    0% {
        top: 0;
        left: 0
    }
    25% {
        top: 20px;
        left: 10px
    }
    50% {
        top: -20px;
        left: -10px
    }
    100% {
        top: 0;
        left: 0
    }
}

@-webkit-keyframes card-one-move /* Safari 与 Chrome */
{
    0% {
        top: 20px;
    }
    25% {
        top: 10px;
    }
    50% {
        top: 0px;
    }
    100% {
        top: 20px;
    }
}

@keyframes card-two-move {
    0% {
        top: 20px;
    }
    25% {
        top: 10px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 20px;
    }
}

@-webkit-keyframes card-two-move /* Safari 与 Chrome */
{
    0% {
        top: 20px;
    }
    25% {
        top: 10px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 20px;
    }
}

@keyframes card-three-move {
    0% {
        top: 60px;
        left: -285px;
    }
    25% {
        top: 40px;
        left: -265px;
    }
    50% {
        top: 20px;
        left: -245px;
    }
    100% {
        top: 60px;
        left: -285px;
    }
}

@-webkit-keyframes card-three-move /* Safari 与 Chrome */
{
    0% {
        top: 20px;
    }
    25% {
        top: 10px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 20px;
    }
}

.plant-grid {
    color: #C5D1EB;
    text-align: center;
}

.plant-grid > i {
    font-size: 100px;
}

.plant-title {
    font-size: 30px;
    color: #C5D1EB !important;
}
.grid-desc{
    color: #92AFD7 !important;
}

.section-two {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  background: #000D1E;
}

.section-two-container {
    margin: 0 auto;
}

.cards-group {
    position: relative;
    left: 100px;
    top: 100px;
    float: left;
}

.grid-group {
    position: relative;
    left: 600px;
    top: -140px;
    width: 700px;
    color: #C5D1EB;
}

.section-third {
    /*min-height: 720px;*/
    min-width: 1300px;
    width: 100%;
    /*height: 100vh;*/
    background-color: #C5D1EB;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-third-container {
    /*position: relative;*/
    /*top: 130px;*/
}

.section-title {
    text-align: center;
    color: #ffffff;
}

.section-third-grid {
    margin: 0 auto;
    text-align: center;
}

.section-third-grid > div {
    height: 220px;
    margin-top: 10px;
}

.section-third-pic {
    width: 300px;
}

.section-third-pic:hover {
    animation: third-border 1s infinite;
    -webkit-animation: third-border 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes third-border {
    0% {
        border: 0 solid;
    }
    25% {
        border: 2px solid #CC6666;
    }
    50% {
        border: 4px solid #CC6666;
    }
    75% {
        border: 2px solid #CC6666;
    }
    100% {
        border: 0 solid;
    }
}

/* Standard syntax */
@keyframes third-border {
    0% {
        border: 0 solid;
    }
    25% {
        border: 2px solid #CC6666;
    }
    50% {
        border: 4px solid #CC6666;
    }
    75% {
        border: 2px solid #CC6666;
    }
    100% {
        border: 0 solid;
    }
}

.section-fourth {
    /*height: 900px;*/
    width: 100%;
    background: #000D1E;
    min-width: 1300px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-fourth-container {
    /*position: relative;*/
    /*top: 170px;*/
    width: 100%;
}

.section-fourth-row {
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.section-fourth-bg {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 220px;
}

.section-fourth-row > div[nz-col]:nth-child(1) > .section-fourth-bg {
  background: url('https://cdn01.moecube.com/store/zh-CN/assets/ozns_1.jpg');
}
.section-fourth-row > div[nz-col]:nth-child(2) > .section-fourth-bg {
  background: url('https://cdn01.moecube.com/store/zh-CN/assets/ozns_1.jpg');
}
.section-fourth-row > div[nz-col]:nth-child(3) > .section-fourth-bg {
  background: url('https://cdn01.moecube.com/store/zh-CN/assets/ozns_1.jpg');
}
.section-fourth-row > div[nz-col]:nth-child(4) > .section-fourth-bg {
  background: url('https://cdn01.moecube.com/store/zh-CN/assets/ozns_1.jpg');
}

.section-card-cover {
    color: #ffffff;
    height: 220px;
    width: 100%;
    float: right;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.section-card-cover:hover {
    color: #ffffff;
    height: 220px;
    width: 100%;
    float: right;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
}
.section-card-body {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50px;
}

@keyframes iconShow {
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
    25% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
    }
    50% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg); /* Safari 与 Chrome */
    }
    100% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg); /* Safari 与 Chrome */
    }
}

@-webkit-keyframes iconShow /* Safari 与 Chrome */
{
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
    25% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg); /* Safari 与 Chrome */
    }
    50% {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg); /* Safari 与 Chrome */
    }
    100% {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg); /* Safari 与 Chrome */
    }
}

.icon {
    animation: iconShow 2s 1;
    -webkit-animation: iconShow 2s 2;
}

.section-fifth {
    /*min-height: 720px;*/
    min-width: 1300px;
    width: 100%;
    /*height: 100vh;*/
    background-color: #C5D1EB;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-fifth-container {
    /*position: relative;*/
    /*top: 170px;*/
    width: 100%;
}

.foot{
    height:60px;
    width: 100%;
    min-width: 1300px;
    background: #111111;
}
.foot > p{
    color: #ffffff;
    font-size:16px;
    text-align: center;
    position: relative;
    top:20px;
}

.down-icon{
    position: relative;
    animation: downIcon 1s infinite;
    -webkit-animation: downIcon 1s infinite;
}

@-webkit-keyframes downIcon /* Safari 与 Chrome */
{
    0% {
        top: 0;
    }
    25% {
        top:10px;
    }
    50% {
        top:20px;
    }
    100% {
        top:0;
    }
}
