<nz-layout class="layout">
  <nz-affix class="nav-affix">
    <nz-header id="nav-header" class="nav">
      <img class="logo" src="https://cdn01.moecube.com/store/zh-CN/assets/logo.png" />
      <ul id="nav-ul" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <li nz-menu-item>首页</li>
        <li nz-menu-item>社区</li>
        <li nz-menu-item>数据库</li>
        <li nz-menu-item>用户中心</li>
      </ul>
    </nz-header>
  </nz-affix>

  <nz-content class="container">
    <div id="banner" class="home-banner">
      <div style="width:100%;position: relative;top:100px;text-align: center;">
        <img
          class="no-select"
          draggable="false"
          style="margin:0 auto;width:480px;position: relative;top:80px;"
          src="assets/img/font-2.png"
        />
        <br />
        <img class="no-select" draggable="false" style="margin:0 auto;width:580px;position: relative;top:40px;" src="assets/img/desc.png" />
        <div style="margin:0 auto;position: relative; top:-50px;">
          <a href="{{ latest_current | async }}">
            <!--<button nz-button nzType="primary" nzSize="large" nzShape="round"><i nz-icon type="download"></i>下载游戏
                  </button>-->
            <img
              src="assets/img/button-3.png"
              width="150px"
              style="position: relative;top:80px; border-radius: 3px; border: 1px solid #F2F6FC"
            />
          </a>
        </div>
      </div>

      <div class="no-select" style="position: absolute;bottom:0;left:45%;z-index:0;color:#fff;font-size: 25px;">
        <p>向下 <i nz-icon nzType="down-circle" nzTheme="outline" class="down-icon"></i> 滚动</p>
      </div>
      <!--
            <div class="download-button">

            </div>
            -->
    </div>
    <section class="section-two">
      <div class="section-two-container">
        <div class="section-title no-select"><p style="font-size:50px;color: #C5D1EB !important;">游戏王全卡模拟器YGOPro</p></div>
        <div nz-row [nzType]="'flex'" [nzJustify]="'center'" style="padding-top:50px;">
          <div nz-col>
            <div class="no-select" style="position: relative; left: 100px;">
              <img class="card-one" draggable="false" src="assets/img/card-1.jpg" width="200px" />
              <img class="card-two" draggable="false" src="assets/img/card-1.jpg" width="200px" />
              <img class="card-three" draggable="false" src="assets/img/card-1.jpg" width="200px" />
            </div>
          </div>
          <div nz-col style="min-width: 600px">
            <div nz-row class="no-select">
              <div nz-col nzSpan="8" class="plant-grid">
                <i nz-icon nzType="gift" nzTheme="outline" class="icon"></i>
                <p class="plant-title">免费收录</p>
                <p class="grid-desc">氪金要素是不存在的<br />从最开始所有卡片都可选用<br />随心所欲组出您想要的卡组</p>
              </div>
              <div nz-col nzSpan="8" class="plant-grid">
                <i nz-icon nzType="rocket" nzTheme="outline" class="icon"></i>
                <p class="plant-title">自动更新</p>
                <p class="grid-desc">无需为更新而烦恼<br />客户端会自动更新</p>
              </div>
              <div nz-col nzSpan="8" class="plant-grid">
                <i nz-icon nzType="radar-chart" nzTheme="outline" class="icon"></i>
                <p class="plant-title">丰富玩法</p>
                <p class="grid-desc">2V2决斗/人机决斗<br />竞技向卡组决斗<br />娱乐向卡组决斗<br />总有适合你的<br /></p>
              </div>
            </div>
          </div>
        </div>
        <!--
                <div class="section-title no-select"><p style="font-size:50px;color: #C5D1EB !important;">游戏王全卡模拟器YGOPro</p></div>
                <div class="cards-group no-select">
                    <img class="card-one" draggable="false" src="assets/img/card-1.jpg" width="200px"/>
                    <img class="card-two" draggable="false" src="assets/img/card-1.jpg" width="200px"/>
                    <img class="card-three" draggable="false" src="assets/img/card-1.jpg" width="200px"/>
                </div>
                <div nz-row class="grid-group no-select">
                    <div nz-col nzSpan="8" class="plant-grid">
                        <i nz-icon nzType="gift" nzTheme="outline" class="icon"></i>
                        <p class="plant-title">免费收录</p>
                        <p class="grid-desc">氪金要素是不存在的<br/>从最开始所有卡片都可选用<br/>随心所欲组出您想要的卡组</p>
                    </div>
                    <div nz-col nzSpan="8" class="plant-grid">
                        <i nz-icon nzType="rocket" nzTheme="outline" class="icon"></i>
                        <p class="plant-title">自动更新</p>
                        <p class="grid-desc">无需为更新而烦恼<br/>客户端会自动更新</p>
                    </div>
                    <div nz-col nzSpan="8" class="plant-grid">
                        <i nz-icon nzType="radar-chart" nzTheme="outline" class="icon"></i>
                        <p class="plant-title">丰富玩法</p>
                        <p class="grid-desc">2V2决斗/人机决斗<br/>竞技向卡组决斗<br/>娱乐向卡组决斗<br/>总有适合你的<br/></p>
                    </div>
                </div>-->
      </div>
    </section>
    <section class="section-third no-select">
      <div class="section-third-container">
        <div class="section-title"><p style="font-size:50px;color:#313154 !important;">代表作品</p></div>
        <div nz-row class="section-third-grid" [nzType]="'flex'">
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://minio.mycard.moe:9000/ygobbs/original/3X/2/0/20882f6007c257970d101986d73ceb20b5904540.jpeg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/ygopro_2.jpg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/ozns_1.jpg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/ozns_2.jpg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/eddyviolet_1.jpg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/eddyviolet_2.jpg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/df02_1.jpg" />
          </div>
          <div nz-col nzSpan="6">
            <img class="section-third-pic" src="https://cdn01.moecube.com/store/en-US/assets/df02_2.jpg" />
          </div>
        </div>
      </div>
    </section>

    <section class="section-fourth no-select">
      <div class="section-fourth-container">
        <div class="section-title"><p style="font-size:50px;color: #C5D1EB !important;">原创周边</p></div>
        <div nz-row class="section-fourth-row">
          <div nz-col nzSpan="6">
            <div class="section-fourth-bg">
              <div class="section-card-cover">
                <div class="section-card-body">
                  <p>McPro 开辟&闪刀姬卡垫</p>
                  <p>以飒爽的闪到姬与开辟的使者为主题的帅气卡垫</p>
                  <a href="#" nz-button nzType="primary" nzSize="large"><i nz-icon nzType="shopping" nzTheme="outline"></i>购买</a>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div class="section-fourth-bg">
              <div class="section-card-cover">
                <div class="section-card-body">
                  <p>McPro 原创卡垫</p>
                  <p>以飒爽的闪到姬与开辟的使者为主题的帅气卡垫</p>
                  <a href="#" nz-button nzType="primary" nzSize="large"><i nz-icon nzType="shopping" nzTheme="outline"></i>购买</a>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div class="section-fourth-bg">
              <div class="section-card-cover">
                <div class="section-card-body">
                  <p>McPro 原创卡垫</p>
                  <p>以飒爽的闪到姬与开辟的使者为主题的帅气卡垫</p>
                  <a href="#" nz-button nzType="primary" nzSize="large"><i nz-icon nzType="shopping" nzTheme="outline"></i>购买</a>
                </div>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div class="section-fourth-bg">
              <div class="section-card-cover">
                <div class="section-card-body">
                  <p>McPro 原创卡垫</p>
                  <p>以飒爽的闪到姬与开辟的使者为主题的帅气卡垫</p>
                  <a href="#" nz-button nzType="primary" nzSize="large"><i nz-icon nzType="shopping" nzTheme="outline"></i>购买</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-fifth no-select">
      <div class="section-fifth-container">
        <!--        <div class="section-title">-->
        <!--          <p style="font-size:50px;"><br /></p>-->
        <!--        </div>-->
        <div nz-row style="margin:0 auto;justify-content: space-evenly;" [nzType]="'flex'">
          <div nz-col>
            <app-arena-table></app-arena-table>
          </div>
          <div nz-col>
            <p style="font-size: 40px;color:#313154">决斗数据库</p>

            <p style="font-size: 20px;color:#313154;">
              实时 YGOPro 线上对战数据 <br />
              卡组与卡片使用数据 <br />
              实时玩家排行 <br />
              排表、打印实卡比赛卡表等特色功能 <br />
            </p>

            <p style="font-size: 20px;color:#313154;">本周进行了 123456 场对战</p>
            <!--            <nz-statistic [nzValueStyle]="{ color: '#000D1E' }" [nzValue]="stats_online | async | number" [nzTitle]=""></nz-statistic>-->
            <button nz-button nzType="primary" nzSize="large"><i nz-icon nzType="double-right" nzTheme="outline"></i>进入决斗数据库</button>
          </div>

          <div nz-col>
            <p style="font-size: 40px;color:#313154">YGOPro全明星</p>
            <p style="font-size: 20px;color:#313154;">
              每年萌卡 YGOPro 会有两个赛季 <br />
              每个赛季都有奖励丰富的决斗大赛 <br />
              最强的决斗者们会在此相遇，争夺荣誉 <br />
              节假日更会举办各类趣味活动 <br />
              让你的游戏人生有趣起来 <br />
            </p>
            <!--            <nz-statistic [nzValueStyle]="{ color: '#000D1E' }" [nzValue]="1949101 | number" [nzTitle]=""></nz-statistic>-->
            <button nz-button nzType="primary" nzSize="large"><i nz-icon nzType="double-right" nzTheme="outline"></i>查看近期赛事</button>
          </div>
          <!--
                    <div nz-col nzSpan="8">
                        <p style="font-size: 40px;color:#ffffff">Mc 用户数</p>
                        <p style="font-size: 20px;color:#ffffff">注册用户</p>
                        <nz-statistic [nzValueStyle]="{color: '#FFFFFF' }" [nzValue]="stats_signups|async"
                                      [nzTitle]=""></nz-statistic>
                        <button nz-button nzType="primary" [nzSize]="large"><i nz-icon nzType="double-right"
                                                                               nzTheme="outline"></i>进入决斗数据库
                        </button>
                    </div>
                    -->
        </div>
      </div>
    </section>

    <section class="foot">
      <p>© MyCard 2019 all rights reserved.</p>
    </section>
  </nz-content>
</nz-layout>
